*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    width: 17px;
    height: 34px;
    background-size: 17px 34px;
    animation: footbutton 2s infinite;
}
@keyframes footbutton{
    0%{
        botton:2%;
        opacity:1;
    }
    100%{
         botton:6%;
        opacity:0;
    }
}

/*音乐按钮*/
#mp3btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    border: 3px solid rgba(76, 76, 76, 0.62);
    transform: rotateZ(0deg);
    animation: mp3btnkey 2.3s linear infinite;
}

@keyframes mp3btnkey {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#mp3btn img {
    width: 10px;
}

/* .s1*/

.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    background: url("../img/bj.png");
    height: 100%;
}

.s1 .header img{
    position: absolute;
}

.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
    animation-iteration-count: infinite;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
    animation-iteration-count: infinite;
}

.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
    animation-iteration-count: infinite;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
    animation-iteration-count: infinite;
}
.swing{
    transform-origin: center;
}
.s1 .header img:nth-of-type(5){
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
    animation-iteration-count: infinite;
}

.s1 .main{
    position:absolute;
    top:30%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width:80%;
    padding-bottom: 20px;

}

.s1 .main .img9{
    width: 207px;
    height: 24px;
    margin:auto;
    background-image: url(../img/9.png);
    background-size: cover;


}
.s1 .footer h2{
    font-size:18px;
    margin-bottom:15px;

}

.s1 .footer p:nth-of-type(1){
    font-size:16px;
    margin-bottom: 40px;
}
.s1 .footer p:nth-of-type(2){
    height:70%;
}

.s1 .footer{
    position: absolute;
    bottom:70px;
    left:0;
    width: 100%;
    color:#0dd0b4;
}
.s1 .footer img{
    height:70px;
    position: absolute;
    left:0;
}

.s1 .footer img:nth-of-type(1) {
    left: 0;
    animation: footerimg1 1.5s alternate infinite;
}
.s1 .footer img:nth-of-type(2) {
    left: 0;
    animation: footerimg2 1.5s alternate infinite;
}
@keyframes footerimg1{
    0%{
        left:70px;
    }
    100%{
        left:30px;
    }
}
@keyframes footerimg2{
    0%{
        left:-90px;
    }
    100%{
        left:0px;
    }
}
.s1 .footer img:nth-of-type(2){
    left:-40px;
}

/*s2页面*/
.s2{
    color:#0dd0b4;
}
.s2 h2{
    padding-top: 50px;
}
.s2 h2::before {
    background: url(../img/14.png);
    background-size: cover;
    left: 7%;
    top: 49%;
}
.s2 h2::before, .s2 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s2 h2::after {
    background: url(../img/13.png);
    background-size: cover;
    right: 7%;
    top: 49%;
}

.s2 small{
    display: block;
    font-size: 15px;
    padding-top:5px;
    padding-bottom:10px;
}
.s2 img {
    width: 80%;
}
.s2 .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 127px;
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 5%;
    font-size: 16px;}

.s2 .text p{
    margin-bottom:8px;
}
.s2 span {
    position: absolute;
    bottom: -83px;
    left: 50%;
    width: 120px;
    height: 30px;
    margin-left: -60px;
    background: -moz-linear-gradient(left, #00e7f7, #00fc9f);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00e7f7), to(#00fc9f));
    background: -webkit-linear-gradient(left, #00e7f7, #00fc9f);
    background: -o-linear-gradient(left, #00e7f7, #00fc9f);
    color: #000;
    font-size: 16px;
    line-height: 30px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

.s2 .footer img{
    height:70px;
    position: absolute;
    left:0;
    bottom: 0;
}
/*波浪*/
.s2 .footer img:nth-of-type(1) {
    left: 0;
    animation: footerimg1 1.5s alternate infinite;
}
.s2 .footer img:nth-of-type(2) {
    left: 0;
    animation: footerimg2 1.5s alternate infinite;
}
@keyframes footerimg1{
    0%{
        left:120px;
    }
    100%{
        left:0px;
    }
}
@keyframes footerimg2{
    0%{
        left:-90px;
    }

    100%{
        left:0px;
    }
}


/*s3页面*/
.s3{
    color:#0dd0b4;
}
.s3 h2{
    padding-top: 50px;
}
.s3 h2::before {
    background: url(../img/14.png);
    background-size: cover;
    left: 7%;
    top: 49%;
}
.s3 h2::before, .s3 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s3 h2::after {
    background: url(../img/13.png);
    background-size: cover;
    right: 7%;
    top: 49%;
}

.s3 small{
    display: block;
    font-size: 15px;
    padding-top:5px;
    padding-bottom:10px;
}
.s3font{
    width:80px;
    height: 100px;
    color: #26faae;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -40px;
    margin-top: -65px;
}
.s3font div:nth-of-type(1) span:nth-of-type(1){
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../img/s3.png");
    background-size: cover;
    left: -90%;
    top: -50%;
    line-height: 60px;
}
.s3font div:nth-of-type(1) span:nth-of-type(2){
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../img/s3.png");
    background-size: cover;
    left: 106%;
    top: -50%;
    line-height: 60px;
}
.s3font div:nth-of-type(2) span:nth-of-type(1) {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../img/s3.png);
    background-size: cover;
    left: -138%;
    top: 35%;
    line-height: 60px;
}
.s3font div:nth-of-type(2) span:nth-of-type(2) {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../img/s3.png);
    background-size: cover;
    left: 157%;
    top: 35%;
    line-height: 60px;
}
.s3font div:nth-of-type(3) span:nth-of-type(1) {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../img/s3.png);
    background-size: cover;
    left: -90%;
    top: 146%;
    line-height: 60px;
}
.s3font div:nth-of-type(3) span:nth-of-type(2) {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(../img/s3.png);
    background-size: cover;
    left: 107%;
    top: 147%;
    line-height: 60px;
}
.s3font div:nth-of-type(4) span {
    position: absolute;
    width: 134px;
    height: 134px;
    background: url(../img/s3bg.png);
    background-size: cover;
    left: -38%;
    top: 9%;
    line-height:134px;
}

.s3 .s3text{
    color:#26faae;
    font-size:13px;
    text-align: left;
    position: absolute;
    top: 80%;
    left: 15%;
    width: 80%;
    border-left:2px solid #26faae;
    line-height: 20px;
    padding-left: 10px;
}
@media screen and (max-width: 414px) {
    .s3dashed{
        position: absolute;
        top: 28%;
        left: 16%;

    }
    .s3dashed div:nth-of-type(1){
        width:280px;
        height: 280px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        animation: dashedshun 8s infinite linear;
    }
    .s3dashed div:nth-of-type(2){
        width:330px;
        height: 330px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -165px;
        margin-left: -165px;
        animation: dashedni 8s infinite linear;
    }
    .s3dashed div:nth-of-type(3){
        width:380px;
        height: 380px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -190px;
        margin-left: -190px;
        animation: dashedshun 8s infinite linear;
    }
    .s3dashed div:nth-of-type(4){
        width:430px;
        height: 430px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -215px;
        margin-left: -215px;
        animation: dashedni 8s infinite linear;
    }
    @-webkit-keyframes dashedshun {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes dashedni {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(-360deg);
        }
    }

}
@media screen and (max-width: 375px) {
    .s3dashed{
        position: absolute;
        top: 27%;
        left: 12%;

    }
    .s3dashed div:nth-of-type(1){
        width:280px;
        height: 280px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        animation: dashedshun 8s infinite linear;
    }
    .s3dashed div:nth-of-type(2){
        width:320px;
        height: 320px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -160px;
        margin-left: -160px;
        animation: dashedni 8s infinite linear;
    }
    .s3dashed div:nth-of-type(3){
        width:360px;
        height: 360px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -180px;
        margin-left: -180px;
        animation: dashedshun 8s infinite linear;
    }
    .s3dashed div:nth-of-type(4){
        width:400px;
        height: 400px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -200px;
        animation: dashedni 8s infinite linear;
    }
}
@media screen and (max-width: 320px) {
    .s3dashed{
        text-align: center;
        color: #0bffba;
        position: absolute;
        top: 30%;
        left: 18%;

    }
    .s3dashed div:nth-of-type(1){
        width:200px;
        height: 200px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        animation: dashedshun 8s infinite linear;
    }
    .s3dashed div:nth-of-type(2){
        width:230px;
        height: 230px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -115px;
        margin-left: -115px;
        animation: dashedni 8s infinite linear;
    }
    .s3dashed div:nth-of-type(3){
        width:260px;
        height: 260px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -130px;
        margin-left: -130px;
        animation: dashedshun 8s infinite linear;
    }
    .s3dashed div:nth-of-type(4){
        width:290px;
        height: 290px;
        border-radius: 50%;
        border:  dashed 1px #00fbc3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -145px;
        margin-left: -145px;
        animation: dashedni 8s infinite linear;
    }
    .s3font{
        width:80px;
        height: 100px;
        color: #26faae;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-left: -40px;
        margin-top: -65px;
    }
    .s3font div:nth-of-type(1) span:nth-of-type(1){
        position: absolute;
        width: 60px;
        height: 60px;
        background: url("../img/s3.png");
        background-size: cover;
        left: -90%;
        top: -50%;
        line-height: 60px;
    }
    .s3font div:nth-of-type(1) span:nth-of-type(2){
        position: absolute;
        width: 60px;
        height: 60px;
        background: url("../img/s3.png");
        background-size: cover;
        left: 106%;
        top: -50%;
        line-height: 60px;
    }
    .s3font div:nth-of-type(2) span:nth-of-type(1) {
        position: absolute;
        width: 60px;
        height: 60px;
        background: url(../img/s3.png);
        background-size: cover;
        left: -138%;
        top: 35%;
        line-height: 60px;
    }
    .s3font div:nth-of-type(2) span:nth-of-type(2) {
        position: absolute;
        width: 60px;
        height: 60px;
        background: url(../img/s3.png);
        background-size: cover;
        left: 157%;
        top: 35%;
        line-height: 60px;
    }
    .s3font div:nth-of-type(3) span:nth-of-type(1) {
        position: absolute;
        width: 60px;
        height: 60px;
        background: url(../img/s3.png);
        background-size: cover;
        left: -90%;
        top: 146%;
        line-height: 60px;
    }
    .s3font div:nth-of-type(3) span:nth-of-type(2) {
        position: absolute;
        width: 60px;
        height: 60px;
        background: url(../img/s3.png);
        background-size: cover;
        left: 107%;
        top: 147%;
        line-height: 60px;
    }
    .s3font div:nth-of-type(4) span {
        position: absolute;
        width: 134px;
        height: 134px;
        background: url(../img/s3bg.png);
        background-size: cover;
        left: -38%;
        top: 9%;
        line-height:134px;
    }

    .s3 .s3text{
        color:#26faae;
        font-size:13px;
        text-align: left;
        position: absolute;
        top: 80%;
        left: 15%;
        width: 80%;
        border-left:2px solid #26faae;
        line-height: 20px;
        padding-left: 10px;
    }

}

/*波浪*/
.s3 .footer img{
    position: absolute;
    bottom: 0;
    height:70px;
}
.s3 .footer img:nth-of-type(1) {
    left: 0;
    animation: footerimg1 1.5s alternate infinite;
}
.s3 .footer img:nth-of-type(2) {
    left: 0;
    animation: footerimg2 1.5s alternate infinite;
}
@keyframes footerimg1{
    0%{
        left:120px;
    }
    100%{
        left:0px;
    }
}
@keyframes footerimg2{
    0%{
        left:-90px;
    }

    100%{
        left:0px;
    }
}

/*s4*/
.s4{
    color:#0dd0b4;
}
.s4 h2{
    padding-top: 50px;
    padding-bottom: 50px;
}
.s4 h2::before {
    background: url(../img/14.png);
    background-size: cover;
    left: 7%;
    top: 8%;
}
.s4 h2::before, .s4 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s4 h2::after {
    background: url(../img/13.png);
    background-size: cover;
    right: 7%;
    top: 8%;
}

.s4 small{
    display: block;
    font-size: 15px;
    padding-top:5px;
    padding-bottom:10px;
}
.s4 .main{
    height: 55%;
    background-size: 100% 100%;
    width: 80%;
    margin: 0 auto;
    background-image: url(../img/s4bg.png);
}
.s4 .main .s4ma img{
    width:8%;
}
.s4 .main .s4ma p {
     text-align: center;
     padding-top: 10px;
 }
.s4 .main .s4mb p{
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
}
.s4 .main .s4mb .mb{
    width:22px;
}
.s4 .main .s4mb .mbb{
    width:220px;
    height: 11px;
}
.s4 .main .s4mb .mbbb{
    width:150px;
    height: 11px;
}

.s4 .main .s4mc p{
    text-align: left;
    margin-left: 30px;
}
.s4 .main .s4mc .mc{
    width:22px;
}
.s4 .main .s4mc .mcc{
    width:190px;
    height: 11px;
}
.s4 .main .s4mc .mccc{
    width:120px;
    height: 11px;
}


.s4 .main .s4md p{
    text-align: left;
    margin-left: 30px;
}
.s4 .main .s4md .md{
    width:22px;
}
.s4 .main .s4md .mdd{
    width: 76px;
    height: 11px;
}
.s4 .main .s4md .mddd{
    width:50px;
    height: 11px;
}
.s4 .main .pp{
    font-size: 16px;
    padding:15px;
}

/*波浪*/
.s4 .footer img{
    position: absolute;
    bottom: 0;
    height:70px;
}
.s4 .footer img:nth-of-type(1) {
    left: 0;
    animation: footerimg1 1.5s alternate infinite;
}
.s4 .footer img:nth-of-type(2) {
    left: 0;
    animation: footerimg2 1.5s alternate infinite;
}
@keyframes footerimg1{
    0%{
        left:120px;
    }
    100%{
        left:0px;
    }
}
@keyframes footerimg2{
    0%{
        left:-90px;
    }

    100%{
        left:0px;
    }
}

/*s5*/
.s5{
    color:#0dd0b4;
}
.s5 h2{
    padding-top: 50px;
    padding-bottom: 50px;
}
.s5 h2::before {
    background: url(../img/14.png);
    background-size: cover;
    left: 7%;
    top: 9%;
}
.s5 h2::before, .s5 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s5 h2::after {
    background: url(../img/13.png);
    background-size: cover;
    right: 7%;
    top: 9%;
}

.s5 small{
    display: block;
    font-size: 15px;
    padding-top:5px;
    padding-bottom:10px;
}
.s5 .mian{
    width:80%;
    height: 100%;
}
.s5 .main .div1{
    height: 190px;
    background-size: 100% 100%;
    width: 38%;
    background-image: url(../img/12.png);
    margin-left: 25px;
    float: left;
}
.s5 .main .div1 img{
    width: 130px;
}
.s5 .main .div2{
    height: 190px;
    background-size: 100% 100%;
    width: 38%;
    background-image: url(../img/12.png);
    margin-left: 25px;
    float: left;
}
.s5 .main .div2 img{
    width: 130px;
}
.s5 .main .div3{
    height: 190px;
    background-size: 100% 100%;
    width: 38%;
    background-image: url(../img/12.png);
    margin-left: 25px;
    float: left;
    margin-top: 55px;
}
.s5 .main .div3 img{
    width: 130px;
}

.s5 .main .div4{
    height: 190px;
    background-size: 100% 100%;
    width: 38%;
    background-image: url(../img/12.png);
    margin-left: 25px;
    float: left;
    margin-top: 55px;
}
.s5 .main .div4 img{
    width: 130px;
}
.s5 .main .div1 p,.s5 .main .div2 p,.s5 .main .div3 p,.s5 .main .div4 p{
    font-size: 16px;
    margin-top: 5px;
}
.s5 .main .div1 .xing,.s5 .main .div2 .xing,.s5 .main .div3 .xing,.s5 .main .div4 .xing{
    width: 110px;
    height: 26px;
    background: linear-gradient(to right,#0cdeeb,#02fe9b);
    color: #000;
    font-size: 16px;
    border-radius: 31px;
    margin-left: 20px;
}
/*波浪*/
.s5 .footer img{
    position: absolute;
    bottom: 0;
    height:70px;
}
.s5 .footer img:nth-of-type(1) {
    left: 0;
    animation: footerimg1 1.5s alternate infinite;
}
.s5 .footer img:nth-of-type(2) {
    left: 0;
    animation: footerimg2 1.5s alternate infinite;
}
@keyframes footerimg1{
    0%{
        left:120px;
    }
    100%{
        left:0px;
    }
}
@keyframes footerimg2{
    0%{
        left:-90px;
    }

    100%{
        left:0px;
    }
}


/*s5*/
.s6{
    color:#0dd0b4;
}
.s6 h2{
    padding-top: 50px;
    padding-bottom: 50px;
}
.s6 h2::before {
    background: url(../img/14.png);
    background-size: cover;
    left: 7%;
    top: 8%;
}
.s6 h2::before, .s6 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s6 h2::after {
    background: url(../img/13.png);
    background-size: cover;
    right: 7%;
    top: 8%;
}

.s6 small{
    display: block;
    font-size: 15px;
    padding-top:5px;
    padding-bottom:10px;
}



/*波浪*/
.s6 .footer img{
    position: absolute;
    bottom: 0;
    height:70px;
}
.s6 .footer img:nth-of-type(1) {
    left: 0;
    animation: footerimg1 1.5s alternate infinite;
}
.s6 .footer img:nth-of-type(2) {
    left: 0;
    animation: footerimg2 1.5s alternate infinite;
}
@keyframes footerimg1{
    0%{
        left:120px;
    }
    100%{
        left:0px;
    }
}
@keyframes footerimg2{
    0%{
        left:-90px;
    }

    100%{
        left:0px;
    }
}






/*s7*/
.s7{
    color:#0dd0b4;
}
.s7 h2{
    padding-top: 50px;
    padding-bottom: 50px;
}
.s7 h2::before {
    background: url(../img/14.png);
    background-size: cover;
    left: 7%;
    top: 8%;
}
.s7 h2::before, .s7 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s7 h2::after {
    background: url(../img/13.png);
    background-size: cover;
    right: 7%;
    top: 8%;
}

.s7 small{
    display: block;
    font-size: 15px;
    padding-top:5px;
    padding-bottom:10px;
}



/*波浪*/
.s7 .footer img{
    position: absolute;
    bottom: 0;
    height:70px;
}
.s7 .footer img:nth-of-type(1) {
    left: 0;
    animation: footerimg1 1.5s alternate infinite;
}
.s7 .footer img:nth-of-type(2) {
    left: 0;
    animation: footerimg2 1.5s alternate infinite;
}
@keyframes footerimg1{
    0%{
        left:120px;
    }
    100%{
        left:0px;
    }
}
@keyframes footerimg2{
    0%{
        left:-90px;
    }

    100%{
        left:0px;
    }
}


/*s6自定义样式*/
.s6 .main {
    font-size: 15px;
    color: #0cdeeb;
    border-left: 1px dashed #0cdeeb;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    height: 300px;
    margin-top: 40px;
    margin-left:30px;
    padding:0px 20px;
}
.s6 .main .s6main{
    margin-bottom: 10px;
}
.s6 .main .s6main .s6leftimg1{
    width: 28px;
    position: absolute;
    left: 16px;
    top: 98px;
}
.s6 .main .s6main .s6leftimg2{
    width: 28px;
    position: absolute;
    left: 16px;
    top: 204px;
}
.s6 .main .s6main .s6leftimg3{
    width: 28px;
    position: absolute;
    left: 16px;
    top: 310px;
}
.s6 .main .s6main .s6mainp{
    position: relative;
    color: #000;
    background: url("../img/s6textbg.png");
    background-size: 100% 100%;
    height:18px;
    padding:0 10px;
    line-height:18px;
    margin-bottom: 8px;
}
.s6 .main .s6main .s6text{
    font-family:Courier;
    font-weight: bold;
    font-size: 8px;
    background: url("../img/s6bg.png");
    background-size: 100% 100%;
    padding:10px 15px;
}
@media screen and (max-width: 414px){
    .s6 .main .s6main .s6leftimg1 {
        width: 28px;
        position: absolute;
        left: 16px;
        top: 204px;
    }
    .s6 .main .s6main .s6leftimg2 {
        width: 28px;
        position: absolute;
        left: 16px;
        top: 310px;
    }
    .s6 .main .s6main .s6leftimg3 {
        width: 28px;
        position: absolute;
        left: 16px;
        top: 420px;
    }
}
@media screen and (max-width: 320px){
    .s6 .main .s6main .s6leftimg1{
        width: 28px;
        position: absolute;
        left: 16px;
        top: 98px;
    }
    .s6 .main .s6main .s6leftimg2{
        width: 28px;
        position: absolute;
        left: 16px;
        top: 204px;
    }
    .s6 .main .s6main .s6leftimg3{
        width: 28px;
        position: absolute;
        left: 16px;
        top: 310px;
    }
}
/*s7自定义样式*/
.s7 .main {
    width:80%;
    margin: 0 auto;
    background: url("../img/12.png");
    background-size: 100% 100%;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom:18px;
}
.s7 .main p{
    height: 50px;
}
.s7 .main p input{
    height: 40px;
    width: 80%;
    border:0.5px solid red;
    padding-left: 10px;
}
.s7 .main p button{
    background: #00f2ca;
    border:0;
    height: 40px;
    width:80%;
}
.s7 .main .s7mainp{
    color: #00f2ca;
    text-align: center;
    width: 85%;
    font-size: 12px;
    margin: 10px auto;
}
